header {
  width: 100%;
  min-height: 400px;
  padding-top: 3em;
}

#home header {
  background: no-repeat lightgrey url(images/puppy_images.png);
  background-size: cover; /* spoke to Christopher and he suggested I added this and remove the background-size:1500px because it fits better my screen */
}

#puppies header {
  background: no-repeat lightgrey url(images/golden.png);
  background-size: cover; /* spoke to Christopher and he suggested I added this and remove the background-size:1500px because it fits better my screen */
}

#contact header {
  background: no-repeat lightgrey url(images/bulldog.png);
  background-size: cover; /* spoke to Christopher and he suggested I added this and remove the background-size:1500px because it fits better my screen */
}

.main-header {
  background-color: #ecf0f1;
  width: 627px;
  margin: -2em auto 0 auto;
  min-height: 100px;
  height: 100px;
  opacity: 0.7;
}
.main-header .logo img {
  width: 100px;
  height: 100px;
  margin: 0 2em 0 0;
  float: left;
}

.main-menu {
    margin-left: 155px;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .main-menu ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
  }
  .main-menu ul li a {
    text-decoration: none;
    color: #0c4f7d;
  }
  .main-menu ul li a:hover {
    color: #137DC5;
  }
  .main-menu ul li.active {
    background: #137DC5;
    border: none;
  }
  .main-menu ul li.active a {
    color: #fff;
  }