/* Header */

header {
  width: 100%;
  min-height: 400px;
  padding-top: 3em;
}

#home header {
  background: no-repeat lightgrey url(images/puppy_images.png);
  background-size: cover; /* spoke to Christopher and he suggested I added this and remove the background-size:1500px because it fits better my screen */
}

#puppies header {
  background: no-repeat lightgrey url(images/golden.png);
  background-size: cover; /* spoke to Christopher and he suggested I added this and remove the background-size:1500px because it fits better my screen */
}

#gallery header {
  background: no-repeat lightgrey url(images/puppy_images.png);
  background-size: cover; /* spoke to Christopher and he suggested I added this and remove the background-size:1500px because it fits better my screen */
}

#contact header {
  background: no-repeat lightgrey url(images/bulldog.png);
  background-size: cover; /* spoke to Christopher and he suggested I added this and remove the background-size:1500px because it fits better my screen */
}

.main-header {
  background-color: #ecf0f1;
  width: 740px;
  margin: -2em auto 0 auto;
  min-height: 100px;
  height: 100px;
  opacity: 0.8;
}
.main-header .logo img {
  width: 100px;
  height: 100px;
  margin: 0 2em 0 0;
  float: left;
}

.main-menu {
    margin-left: 155px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main-menu ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
  }
  .main-menu ul li a {
    text-decoration: none;
    color: #0c4f7d;
  }
  .main-menu ul li a:hover {
    color: #137DC5;
  }
  .main-menu ul li.active {
    background: #137DC5;
    border: none;
  }
  .main-menu ul li.active a {
    color: #fff;
  }

  /* Main */

  .main {
    padding: 1em 6em 3em 5.5em;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main h2 {
    font-size: 2.5em;
    color: #0c4f7d;
  }
  .main h3 {
    font-size: 1.7em;
    color: #106cac;
  }

  .main p {
    color: #09324d;
    font-size: 1.1em;
  }

  p a {
    color: #09324d;
  }

  .main ul {
    list-style-type: circle
  }

  /* Footer */
footer {
  width: 100%;
  height: 120px;
  padding-bottom: 1em;
  background-color: #ecf0f1;
  color: #09324d;
}
footer #nondisclaimer .copy {
  padding: 3.5em 3.5em 2.5em 13em;
  float: left;
  font-size: 1em;
}
footer #nondisclaimer .social {
  padding: 2.5em 2.5em 1.5em 2.5em;
  float: right;
  margin-right: 9.25em;
}
footer #disclaimer {
  clear: both;
}
footer #disclaimer p {
  font-size: 0.9em;
  text-align: center;
}
footer #nondisclaimer .social .fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
  opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
  background: #3b5998;
  color: white;
}
footer #nondisclaimer .social .fa-twitter {
  background: #55acee;
  color: white;
}
footer #nondisclaimer .social .fa-instagram {
  background: #125688;
  color: white;
}

/* Table */

table {
  width: 900px;
  margin: 2em auto 2em auto;
}

caption {
  background: #0c4f7d;
  height: 40px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1em;
}

thead {
  background: #137DC5;
  color: white;
}

tbody,
tfoot {
  background: #ecf0f1;
  text-align: center;
}

th,
td {
  width: 225px;
  height: 75px;
  vertical-align: middle;
  border: solid 1px #0c4f7d;
}

th:first-child {
  width: 125px;
  height: 50px;
  background: #0c4f7d;
  color: white;
}

td:first-child {
  font-weight: bold;
  background: #137DC5;
  color: white;
}

/* Form */

form {
  margin: 1em auto 0 auto;
  color: #09324d;
  font-size: 1.2em;
}

.phone span:first-child {
  font-weight: bold;
}

.phone {
  margin: 2em auto 0.5em auto;
}

.email span:first-child {
  font-weight: bold;
}

fieldset {
  border: solid 3px #0c4f7d;
  max-width: 600px;
}

form legend {
  text-transform: uppercase;
  color: #137DC5;
  font-weight: bold;
}

label {
  font-weight: bold;
  margin: 15px 0 5px; 0;
}

.textbox label, .commentbox label{
  display: block;
}

.radios, .selectmenu {
  margin: 15px 0 0 2em;
}

.textbox, .commentbox {
  display: block;
  margin: 15px 0 0 2em;
}

input {
  width: 450px;
  height: 35px;
}

input[type="radio"] {
  width: 25px;
}

textarea {
  width: 450px;
}

select {
  width: 150px;
  text-align-last: center;
}

input[type="submit"] { 
  background-color: #137DC5;
  border: none;
  color: white;
  padding: 15px 32px; 
  text-align: center;
  font-weight: bold;
  font-size:large;
  margin: 20px 0 10px 0;
  width: 156px;
  margin-left: 355px;
  height: 52px;
}

input[type="radio"] {
  vertical-align: middle;
}

/* Gallery */

main #album #pup img {
  width: 400px;
  position: relative;
}

li {
  list-style-type: none;
  display: inline;
  padding: 0 20px;
}

main {
  margin: 50px;
  align-items: center;
}

#caption {
  width: 400px;
  text-align: center;
  color: #0c4f7d;
  font-size: large;
  font-weight: bold;
  background-color: lightblue;
  padding: 20px 0px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: -5px;
}

#description {
  width: 400px;
  text-align: center;
  position: absolute;
  z-index: 10;
  margin-top: -279px;
  background: #137DC5;
  padding: 10px 0;
  opacity: 0.7;
  visibility: hidden;
  font-weight: bold;
}

#album li:hover {
  cursor: pointer;
}

#album li:hover #description {
  visibility: visible;
}

#album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

